body {
    font-family: Arial, sans-serif;     
    margin: 0;                       /*Aqui configure el estilo del body para utilizar la fuente Arial o sans-serif, y elimino el margen y relleno predeterminados */
    padding: 0;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #f2f2f2;        /* estilizo el header para centrar el texto( text-aling center) y agregar un fodo de color claro (background-color) */
}

header img {
    max-width: 200px;                /* defino el tamaño maximo de la imagen del logo con una etiqueta llamada (max-width) para evitar que se expanda demasiado  */
}

section {
    padding: 20px;                         /* aqui las secciones tiene un relleno  para separar el contenido y los bloques del footer  */
}

.tecnologias {
    background-color: #ccc;
    padding: 20px;                                    /* a la sección tecnologias le agregue un fondo de color gris (background-color) para resaltar*/
}

footer {
    display: flex;
    justify-content: space-around;        
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}
          /*  en el footer utilizo flexblox para distribuir los bloques horizontalmente y aplico un fondo oscuro (background-color) con texto blanco para mayor contraste. */

.bloque {
    flex: 1;
    padding: 0 20px;

}
.imagen3{
    width: 700px;
    height: 500px;
}
.imagen1{
    width: 500px;
    height: 500px;
}
.imagen2{
    width: 500px;
    height: 500px;
}